[Desktop Entry]
Type=Application
Name=QGIS Desktop
Name[id]=Desktop QGIS
Name[fi]=QGIS työasema
Name[bg]=QGIS Десктоп
Name[zh-Hans]=QGIS 桌面版
Name[nb]=QGIS skrivebordsprogrammet
Name[tr]=QGIS Masasütü
Name[pt_PT]=QGIS - PC
Name[hu]=QGIS asztali alkalmazás
Name[ko]=QGIS 데스크탑
Name[ja]=QGISデスクトップ
Name[de]=QGIS-Desktop
Name[lt]=QGIS Darbastalis
Name[ar]=QGIS سطح المكتب
Name[zh-Hant]=QGIS 桌面
GenericName=Geographic Information System
GenericName[eu]=Geografia-informazioko sistema
GenericName[pt_BR]=Sistema de Informação Geográfica
GenericName[es]=Sistema de Información Geográfica
GenericName[pl]=System Informacji Geograficznej
GenericName[sv]=Geografiskt Informationssystem
GenericName[pt_PT]=Sistema de Informação Geográfica
GenericName[da]=Geografisk Informations System
GenericName[ca]=Sistema d'Informació Geogràfica
GenericName[gl]=Sistema de Información Xeográfica
GenericName[fr]=Système d'Information Géographique
GenericName[hu]=Térinformatikai rendszer
GenericName[ko]=지리 정보 시스템
GenericName[ja]=地理情報システム
GenericName[de]=Geographisches Informationssystem
GenericName[nl]=Geografisch informatiesysteem
Icon=qgis
TryExec=qgis
Exec=qgis %F
Terminal=false
StartupNotify=false
Categories=Qt;Education;Science;Geography;
MimeType=application/x-qgis-project;application/x-qgis-layer-settings;application/x-qgis-layer-definition;application/x-qgis-composer-template;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-raster-ecw;application/x-raster-mrsid;application/x-mapinfo-mif;application/x-esri-shape;
Keywords=map;globe;postgis;wms;wfs;ogc;osgeo;
StartupWMClass=QGIS3